body {
  background-image: url('./../images/backGround.jpg');
}
#main {
  width: 75%;
  margin-left: 12.5%;
  margin-right: 12.5%;
  background: white;
  text-align: center;
  padding-bottom: 30px;
}
#quizTitle {
  font-size: 52px;
}
#starWarsImg {
  width: 150px;
}
#instruct {
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
}
#allQuestions {
  display: none;
}
